body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
}



.main-blog {
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    margin: 60px auto;
    padding: 40px 20px;
    max-width: 1200px;
    line-height: 1.7;
}

